@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #00080f;
}

.back-to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #bc1d1d;
  color: #ffffff;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.back-to-top:hover {
  background-color: #971d1d;
}

.back-to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 1000;
}

/* Navbar */

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #0c1d29;
}

.nav-logo img {
  cursor: pointer;
  width: 118px;
  height: 100px;
  margin-left: 25px;
}

.navbar-links ul {
  font-size: 1.3rem;
  margin: 1.2rem 25px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  display: block;
}

.nav-buttons a:hover {
  color: #cccccc;
}

.cta-button {
  background-color: #bc1d1d;
  height: 38px;
  border-radius: 5px;
  margin: 13px 20px auto 20px;
}

.cta-button:hover {
  background-color: #971d1d;
}

.login {
  margin-top: -11.5px;
}

/* Hamburger Menu */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  width: 30px;
  height: 20px;
}

.toggle-button span,
.toggle-button span::before,
.toggle-button span::after {
  background: #ffffff;
  border-radius: 3px;
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  margin-top: 10px;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toggle-button span::before {
  margin-top: -10px;
}

.toggle-button span::after {
  margin-top: 10px;
}

.toggle-button.click span {
  background: transparent;
}

.toggle-button.click span::before {
  margin-top: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-button.click span::after {
  margin-top: 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Searchbar */

.search-box {
  top: 32px;
  width: 380px;
  height: 35px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-box i {
  color: #ffffff;
  font-size: 18px;
}

.search {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  outline: none;
  text-align: center;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  border-style: none;
  cursor: pointer;
  width: 40px;
  background-color: #bc1d1d;
  margin-left: -2.5px;
}

.search-btn:hover {
  background-color: #971d1d;
}

.search-btn:active {
  margin-top: 1px;
}

input[type="text"] {
  font-size: 16px;
}

/* Photo Gallery */

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
}

#caption {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #bc1d1d;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 10px;
}

#caption:hover {
  background-color: #971d1d;
  cursor: pointer;
}

.column img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px;
}

.row {
  margin: 40px 8px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row .column {
  padding: 8px 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 0 2px;
  min-width: 250px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -55px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #971d1d;
}

.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #000000;
  padding: 2px 16px;
  color: #ffffff;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Movie Popup */

.movie-popup {
  display: flex;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00080f;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.movie-popup.active {
  visibility: visible;
  top: 50%;
}

.popup-wrapper {
  display: flex;
}

.movie-popup-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.movie-popup-text h2 {
  font-size: 3rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.movie-popup-text table {
  margin-top: 30px;
  text-align: left;
  width: 100%;
  padding: 10px;
  border: 3px dashed #ffffff;
  border-radius: 5px;
}

.movie-popup video {
  width: 70%;
  padding: 0 20px;
  background-color: #000000;
}

.movie-popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: 0.01s ease-in-out;
}

.movies-item {
  text-align: center;
}

.movies-item p {
  margin-top: 18px;
}

.movies-item p span {
  line-height: 25px;
  font-size: 0.9rem;
  color: #cccccc;
}

/* Footer */

.footer-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1d29;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -90px;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
  flex: 1;
  display: block;
  margin-top: 15px;
}

footer ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  margin-left: -20px;
}

.movieflash {
  flex: 1;
  margin-right: 130px;
}

/* MEDIA QUERIES */

/* NAVBAR */

@media only screen and (max-width: 1300px) {
  .nav-logo img {
    width: 100px;
    height: 90px;
    margin-top: 5px;
  }

  .search-box {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .toggle-button {
    display: flex;
    margin: 1.75rem 1.5rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
    height: 360px;
    background-color: #00080f;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
  }

  .navbar-links.click {
    display: flex;
  }

  .search-box {
    margin-top: 10px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-top: 90px;
  }

  .navbar-links a {
    margin: 10px auto;
  }

  .cta-button {
    width: 80px;
    padding-right: 85px;
    margin-top: 20px;
  }

  .login {
    margin-top: -11.5px !important;
  }
}

/* Photo Gallery */

@media only screen and (max-width: 589px) {
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 150px;
    width: auto;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .prev {
    left: 0;
  }
}

@media only screen and (max-width: 532px) {
  .row {
    margin: 200px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer-wrapper {
    margin-bottom: -300px;
  }
}

@media only screen and (max-width: 414px) {
  .row {
    margin: 250px 8px;
  }

  .footer-wrapper {
    margin-bottom: -400px;
  }
}

/* Movie Popup */

@media only screen and (max-width: 860px) {
  tr {
    margin-bottom: 10px;
  }

  .popup-wrapper {
    display: block;
  }

  .movie-popup video {
    width: 100%;
    background-color: none;
    margin-top: 30px;
  }

  .movie-popup-text h2 {
    font-size: 2rem;
  }

  .movie-popup .close {
    z-index: 1;
    right: 5px;
  }
}
