@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #00080f;
}

.back-to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #bc1d1d;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.back-to-top:hover {
  background-color: #971d1d;
}

.back-to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 1000;
}

/* Navbar */

.navbar {
  height: 100px;
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background: #0c1d29;
}

.nav-logo img {
  cursor: pointer;
  width: 118px;
  height: 100px;
  margin-left: 25px;
}

.navbar-links ul {
  font-size: 1.3rem;
  margin: 1.2rem 25px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  display: block;
}

.nav-buttons a:hover {
  color: #cccccc;
}

.cta-button {
  background-color: #bc1d1d;
  height: 38px;
  border-radius: 5px;
  margin: 13px 20px auto 20px;
}

.cta-button:hover {
  background-color: #971d1d;
}

.login {
  margin-top: -11.5px;
}

/* Hamburger Menu */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  width: 30px;
  height: 20px;
}

.toggle-button span,
.toggle-button span::before,
.toggle-button span::after {
  background: #ffffff;
  border-radius: 3px;
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  margin-top: 10px;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toggle-button span::before {
  margin-top: -10px;
}

.toggle-button span::after {
  margin-top: 10px;
}

.toggle-button.click span {
  background: transparent;
}

.toggle-button.click span::before {
  margin-top: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-button.click span::after {
  margin-top: 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Searchbar */

.search-box {
  top: 32px;
  width: 380px;
  height: 35px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-box i {
  color: #ffffff;
  font-size: 18px;
}

.search {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  outline: none;
  text-align: center;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  border-style: none;
  cursor: pointer;
  width: 40px;
  background-color: #bc1d1d;
  margin-left: -2.5px;
}

.search-btn:hover {
  background-color: #971d1d;
}

.search-btn:active {
  margin-top: 1px;
}

input[type="text"] {
  font-size: 16px;
}

article {
  padding: 0 30px;
  margin-top: 120px;
  margin-bottom: 100px;
}

/* Footer */

.footer-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1d29;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -30px;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
  flex: 1;
  display: block;
  margin-top: 15px;
}

footer ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  margin-left: -20px;
}

.movieflash {
  flex: 1;
  margin-right: 130px;
}

/* MEDIA QUERIES */

/* NAVBAR */

@media only screen and (max-width: 1300px) {
  .nav-logo img {
    width: 100px;
    height: 90px;
    margin-top: 5px;
  }

  .search-box {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .toggle-button {
    display: flex;
    margin: 1.75rem 1.5rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
    height: 360px;
    background-color: #00080f;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
  }

  .navbar-links.click {
    display: flex;
  }

  .search-box {
    margin-top: 10px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-top: 90px;
  }

  .navbar-links a {
    margin: 10px auto;
  }

  .cta-button {
    width: 80px;
    padding-right: 85px;
    margin-top: 20px;
  }

  .login {
    margin-top: -11.5px !important;
  }
}

@media only screen and (max-width: 414px) {
  .nav-logo img {
    width: 95px;
    height: 85px;
    margin-top: 8px;
  }
}
