@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #00080f;
  background-image: url("https://www.teahub.io/photos/full/335-3352052_joker-heath-ledger-wallpaper-hd.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.back-to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #bc1d1d;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.back-to-top:hover {
  background-color: #971d1d;
}

.back-to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  z-index: 1000;
}

/* Navbar */

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #0c1d29;
}

.nav-logo img {
  cursor: pointer;
  width: 118px;
  height: 100px;
  margin-left: 44px;
}

.navbar-links ul {
  font-size: 1.1rem;
  margin: 1.5rem 44px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  display: block;
}

.nav-buttons a:hover {
  color: #cccccc;
}

.cta-button {
  background-color: #bc1d1d;
  height: 30px;
  border-radius: 5px;
  margin: auto 20px auto 20px;
}

.cta-button:hover {
  background-color: #971d1d;
}

.login {
  margin-top: -11.5px;
}

/* Hamburger Menu */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

/* Searchbar */

.search-box {
  top: 32px;
  width: 380px;
  height: 35px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-box i {
  color: #ffffff;
  font-size: 18px;
}

.search {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  outline: none;
  text-align: center;
}

.search:focus {
  outline: 1px solid #bc1d1d;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  border-style: none;
  cursor: pointer;
  width: 40px;
  background-color: #bc1d1d;
  margin-left: -2.5px;
}

.search-btn:hover {
  background-color: #971d1d;
}

.search-btn:active {
  margin-top: 1px;
}

input[type="text"] {
  font-size: 16px;
}

/* Movies */

.movies-title {
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #bc1d1d;
  padding: 2px 20px;
  border-radius: 5px;
  text-align: center;
}

.wrapper-title {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.movies-title:hover {
  background-color: #971d1d;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-gap: 30px;
  margin-top: -50px;
}

.movies-container img {
  cursor: pointer;
  height: 200px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.movies-container img:hover {
  transform: scale(1.1);
}

.movie-popup {
  display: flex;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00080f;
  width: 100%;
  height: 100%;
}

.movie-popup.active {
  visibility: visible;
}

.popup-wrapper {
  display: flex;
}

.movie-popup-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.movie-popup-text h2 {
  font-size: 3rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.movie-popup-text table {
  margin-top: 30px;
  text-align: left;
  width: 100%;
  padding: 10px;
  border: 3px dashed #ffffff;
  border-radius: 5px;
}

.movie-popup video {
  width: 70%;
  padding: 0 20px;
  background-color: #000000;
}

.movie-popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: 0.01s ease-in-out;
}

.movies-item {
  text-align: center;
}

.movies-item p {
  margin-top: 18px;
}

.movies-item p span {
  line-height: 25px;
  font-size: 0.9rem;
  color: #cccccc;
}

/* Footer */

.footer-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1d29;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -50px;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
  flex: 1;
  display: block;
  margin-top: 15px;
}

footer ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.movieflash {
  flex: 1;
  margin-right: 130px;
}

/* MEDIA QUERIES */

/* SEARCHBAR */

@media only screen and (max-width: 1300px) {
  .nav-logo img {
    width: 100px;
    height: 90px;
    margin-top: 5px;
  }

  .search-box {
    top: 32px;
    width: 300px;
    height: 35px;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 1000px) {
  .toggle-button {
    display: flex;
    margin: 1.75rem 1.5rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
    height: 280px;
    background-color: #00080f;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    margin: 10px auto;
  }

  .cta-button {
    background-color: #bc1d1d;
    height: 30px;
    border-radius: 5px;
    width: 80px;
    margin-top: 1.5rem;
  }

  .login {
    margin-top: -11.5px !important;
  }

  .navbar-links.active {
    display: flex;
  }
}

@media only screen and (max-width: 868px) {
  .search-box {
    top: 32px;
    width: 220px;
    height: 35px;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .nav-logo img {
    width: 90px;
    height: 80px;
    margin-top: 10px;
    margin-left: 24px;
  }

  .check-btn {
    font-size: 35px;
    float: right;
    line-height: 100px;
    margin-right: 50px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 568px) {
  .search-box {
    width: 200px;
  }
}

@media only screen and (max-width: 520px) {
  .search-box {
    width: 180px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .search-box {
    width: 160px;
    margin-left: 10px;
  }

  .navbar-links {
    margin-top: 99px;
    height: 280px;
  }

  .nav-logo img {
    width: 80px;
    height: 70px;
    margin-top: 14px;
    margin-left: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .search-box {
    width: 150px;
    margin-left: 14px;
  }
}

/* MOVIES */

@media only screen and (max-width: 1500px) {
  .movies-container {
    grid-template-columns: repeat(6, 150px);
  }
}

@media only screen and (max-width: 1115px) {
  .movies-container {
    grid-template-columns: repeat(5, 150px);
  }
}

@media only screen and (max-width: 968px) {
  .movies-container {
    grid-template-columns: repeat(4, 150px);
  }
}

@media only screen and (max-width: 860px) {
  tr {
    margin-bottom: 10px;
  }

  .popup-wrapper {
    display: block;
  }

  .movie-popup video {
    width: 100%;
    background-color: none;
  }

  .movie-popup-text h2 {
    font-size: 2rem;
  }

  .movie-popup .close {
    z-index: 10001;
    right: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .movies-container {
    grid-template-columns: repeat(4, 130px);
  }
}

@media only screen and (max-width: 680px) {
  .movies-container {
    grid-template-columns: repeat(4, 130px);
    grid-gap: 30px 20px;
  }
}

@media only screen and (max-width: 630px) {
  .movies-container {
    grid-template-columns: repeat(3, 130px);
    grid-gap: 30px 50px;
  }
}

@media only screen and (max-width: 550px) {
  .movies-container {
    grid-template-columns: repeat(3, 130px);
    grid-gap: 30px 20px;
  }
}

@media only screen and (max-width: 500px) {
  .movies-container img {
    transform: none;
    transition: none;
  }

  .movies-container img:hover {
    transform: none;
  }

  .movies-item p {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 414px) {
  .movies-container {
    grid-template-columns: repeat(3, 120px);
    grid-gap: 20px 10px;
  }

  .movies-container img {
    height: 175px;
  }
}

@media only screen and (max-width: 375px) {
  .movies-container {
    grid-template-columns: repeat(3, 104px);
    grid-gap: 20px 10px;
  }

  .movies-container img {
    height: 150px;
  }
}
