@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #00080f;
}

/* Navbar */

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #0c1d29;
}

.nav-logo img {
  cursor: pointer;
  width: 118px;
  height: 100px;
  margin-left: 44px;
}

.navbar-links ul {
  font-size: 1.1rem;
  margin: 1.5rem 44px;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  display: block;
}

.nav-buttons a:hover {
  color: #cccccc;
}

.cta-button {
  background-color: #bc1d1d;
  height: 30px;
  border-radius: 5px;
  margin: auto 20px auto 20px;
}

.cta-button:hover {
  background-color: #971d1d;
}

.login {
  margin-top: -11.5px;
}

/* Hamburger Menu */

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

/* Searchbar */

.search-box {
  top: 32px;
  width: 380px;
  height: 35px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-box i {
  color: #ffffff;
  font-size: 18px;
}

.search {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  outline: none;
  text-align: center;
}

.search:focus {
  outline: 1px solid #bc1d1d;
}

.search-btn {
  border-radius: 0 5px 5px 0;
  border-style: none;
  cursor: pointer;
  width: 40px;
  background-color: #bc1d1d;
  margin-left: -2.5px;
}

.search-btn:hover {
  background-color: #971d1d;
}

.search-btn:active {
  margin-top: 1px;
}

input[type="text"] {
  font-size: 16px;
}

/* Form Validation */

#registration {
  width: 80%;
  padding: 1rem;
  margin: 0 auto 5rem auto;
}

form h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  padding: 0.5rem 0;
}

p:after {
  content: "";
  display: block;
  clear: both;
}

.form-wrapper input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
select {
  border: none;
  padding: 0.5rem;
  background-color: #ffffff;
  font: inherit;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.gender-container {
  display: flex;
  gap: 10px;
  margin-bottom: -25px;
}

textarea {
  max-width: 50%;
  min-width: 50%;
}

button {
  border-radius: 5px;
  border: none;
  background: #bc1d1d;
  width: 50%;
  padding: 12px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #971d1d;
}

#errorMessages {
  width: 480px;
  overflow: hidden;
  margin: -5px auto 95px auto;
}

.form-wrapper ul {
  list-style-type: none;
}

.form-wrapper {
  margin-bottom: -350px;
}

.form-button {
  text-align: center;
}

#errorMessages li {
  padding: 0.6rem;
  background-color: #971d1d;
  color: #ffffff;
  font-weight: 400;
  margin: 0 1rem;
  margin-bottom: 0.6rem;
  border-radius: 5px;
}

#errorMessages li:first-child {
  margin-top: 1rem;
}

.agreement {
  margin-top: -25px;
}

/* Footer */

.footer-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1d29;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -280px;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
  flex: 1;
  display: block;
  margin-top: 15px;
}

footer ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.movieflash {
  flex: 1;
  margin-right: 130px;
}
